
body {
  background: #26788d;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}

.wrapper {
  width: 190px;
  margin: 30px auto;
  color: #fff;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens {
  font-size: 2em;
}

button {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 0.6em;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
button:hover, button:focus {
  color: #fff;
  outline: 0;
}

button {
  border-color: #545b68;
  color: #fff;
  box-shadow: 0 0 40px 40px #545b68 inset, 0 0 0 0 #545b68;
  transition: all 150ms ease-in-out;
}
button:hover {
  box-shadow: 0 0 10px 0 #545b68 inset, 0 0 10px 4px #545b68;
}


